body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    height: 100vh;
    background-image: url(../img/imgpsh_fullsize_anim\ \(1\).jfif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu__box{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    background-color: rgba(0, 0, 0, 0.648);
    height: 6vh;
    align-items: center;
}
#menu__toggle{
    display: none;
}
.menu__box a{
    text-decoration: none;
    color: rgb(215, 215, 215);
}
.menu__box img{
    padding-top: 20%;
}
.black{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.412);
}
.headerInfo{
    height: 80vh;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
}
h1>b{
    color: rgb(231, 33, 33);
}
.headerInfo>p{
    text-align: center;
    color: white;
    font-size: 2vh;
}
.buttons button{
    width: 150px;
    height: 50px;
    color: white;
    background-color: rgb(54, 54, 54);
    border: none;
}
#red{
    background-color:  rgb(231, 33, 33);
    margin-left: 50px;
}
.buttons{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

/* main */
main{
    height: 100vh;
}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.main1 b{
    color: rgb(224, 57, 113);
}
.main1>p{
    color: rgb(95, 95, 95);
    font-size: 15px;
    font-weight: 700;
}
.main1>h2{
    font-size: 30px;
}
.maininfo>p{
   width: 30%;
   text-align: justify;
   margin: 5%;
}
.maininfo2>h2{
  color: black;
  font-size: 20px;
}
.maininfo2 b{
  color: rgb(224, 57, 113);
}
.maininfo2{
  margin-left: 5%;
}
.maininfo2{
  width: 30%;
  text-align: justify;
}
.img>img{
  height: 50vh;
}
.maininfo{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.img{
  margin-right: 10%;
}
.devider{
  text-align: center;
  margin-top: 4%;
}
.devider>img{
  position: relative;
  top: 21px;
  width: 20px;
}
.hr1{
  width: 30%;
}
.mainbottom{
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
}
.card{
  text-align: center;
  width: 20%;
}
.card>img{
  width: 25%;
}
.card>h2{
  font-weight: 500;
}

.mainpage2{
  margin-top: 5%;
  background-color: #333;
  height: 140vh;
  color: white;
  background-size: 100%;
  background-repeat: no-repeat;
}

.all li{
  list-style: none;
  color: #d4d4d4;
  font-size: 14px;
}
.all b{
  color: rgb(224, 57, 113);
  font-weight: 400;
}
.all>ul{
  width: 25%;
  display: flex;
  justify-content: space-around;
  margin-left: 35%;
}
.portfolio>h2{
  text-align: center;
  font-weight: 500;
}
.portfolio{
  padding-top: 2%;
}

.cont{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 50vh 50vh;
  grid-template-areas: "a1 a1 a1 a2 a2 a3 a3 a3 a4 a4"
                       "a5 a5 a6 a6 a6 a7 a7 a8 a8 a8";
}
.a1{
  grid-area: a1;
  background-image: url(../img/Layer\ 7.png);
}
.a2{
  grid-area: a2;
  background-image: url(../img/Layer\ 15.png);
}
.a3{
  grid-area: a3;
  background-image: url(../img/Layer\ 9.png);
}
.a4{
  grid-area: a4;
  background-image: url(../img/Layer\ 11.png);
}
.a5{
  grid-area: a5;
  background-image: url(../img/Layer\ 13.png);
}
.a6{
  grid-area: a6;
  background-image: url(../img//Layer\ 17.png);
}
.a7{
  grid-area: a7;
  background-image: url(../img/Layer\ 15.png);
}
.a8{
  grid-area: a8;
  background-image: url(../img/Layer\ 16.png);
}
.devider2{
  text-align: center;
  margin-top: 7%;
  color: rgb(224, 57, 113);
}
.devider2>img{
  position: relative;
  top: 21px;
  width: 20px;
}
.hr2{
  width: 30%;
  color: rgb(224, 57, 113);
}


.mainpage3{
  height: 90vh;
}
.mainpage3 b{
  color: rgb(224, 57, 113);
}
.mainpage3>h2,
.mainpage3>p{
  text-align: center;
}
.mainpage3>h2{
  margin-top: 5%;
}
.mainpage3>p{
  margin-top: 2%;
  color: rgb(95, 95, 95);
  font-size: 15px;
  font-weight: 700;
}

.h2{
  width: 450px;
  height: 40px;
  border: 1px solid rgb(214, 214, 214);
  margin: 5%;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
  margin-left: 5%;
  position: relative;
  left: 30px;
}

.main3img{
  width: 500px;
  margin-left: 2%;
}
.main3{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.mainrows{
  margin-left: 15%;
  margin-top: 3%;
  text-align: left;
}
.mainrows2{
  margin-right: 15%;
  margin-top: 3%;
  text-align: right;
}
.right{
  left: -43px;
}
.h2>img{
  width: 35px;
}




@media(max-width:768px){
    .headerInfo{
        height: 45vh;
    }
    .headerInfo>p{
        font-size: 15px;
    }
    .headerInfo>h1{
        font-size: 30px;
    }
    .buttons button{
        width: 120px;
        height: 40px;
        color: white;
        background-color: rgb(54, 54, 54);
        border: none;
    }

    /* Menu CSS */
    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
    } 

@media(max-width:360px){
    .headerInfo{
        height: 30vh;
    }
    .headerInfo p{
        font-size: 10px;
        margin: 0;
    }
    .headerInfo>h1{
        font-size: 15px;
    }
    .buttons button{
        width: 90px;
        height: 25px;
        color: white;
        background-color: rgb(54, 54, 54);
        border: none;
        margin-bottom: 100px;
    }


    /* Menu CSS */
    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }    

}